body{
    height: 100vh;
    margin: 0px;
    font-family: Helvetica;
    background-color: #F1EFF4;
}

header{
    background: #1B4F72;
    display: flex;
    padding: 24px;
    display: flex;
    justify-content: space-between;
}

a{
    font-size: 18px;
    margin: 10px;
    color: white;
    text-decoration: none;
}

p{
    font-weight: bold;
    padding-top: 2%;
}

.contain{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.about{
    max-width: 300px;
    background: #1B4F72;
    padding: 30px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing : border-box;
    border-radius: 10px;
    margin: auto;
    color: white;
    letter-spacing: 2px;
} 

img{
    width: 55%;
    height: 50%;
}


footer{
    background: #1B4F72;
    padding: 2%;
    min-height: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: small;
    margin-top: 1.1%;
}