body{
    height: 100vh;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    margin: 0px;
    background: #ffffff;
    font-family: Helvetica;
    background-color: #F1EFF4;
}

p{
    font-weight: bold;
}

header{
    background: #1B4F72;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: stretch;
    padding: 24px;
}

a{
    font-size: 18px;
    margin: 10px;
    color: white;
    text-decoration: none;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    height: 55%;
    gap: 20px;
    margin-bottom: 6.4%;

}

.about{
    max-width: 300px;
    background: #1B4F72;
    padding: 24px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing : border-box;
    border-radius: 10px;
    margin: auto;
} 

img{
    width: 110%;
    height: 114%;
}

div{
    height: 100%;
    /* width: 100%; */
}

header{
    display: flex;
    justify-content: space-between;
}
footer{
    background: #1B4F72;
    padding: 1.4%;
    min-height: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: small;
}
