body{
    height: 100vh;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    font-family: Helvetica;
    margin: 0px;
    background: #F1EFF4;
}
header{
    background: #1B4F72;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: stretch;
    
    padding: 24px;
}
a{
    font-size: 18px;
    margin: 10px;
    color: white;
    text-decoration: none;
}
nav{
    margin-right: auto;
}
.right{
    margin-left: 70%;
}

.container{
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    width: 70%;
    min-height: 200px;
    background: rgba(27,79,114,0.31);
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    /* justify-content: center; */
}

.card p{
    margin-top: 7%;
    font-size: 18px;
}
hr{
    border-color:#1B4F72;
}

.rep{
    text-align: left;
    width: 70%;
}

.reponse{
    margin-top: 20px;
    background: rgba(27,79,114,0.31);
    padding: 12px;
    border-radius: 10px;
    width: 70%;
}

textarea{
    width: 100%;
    min-height: 100px;
    background: #C4C4C4;
    border: none;
    border-radius: 10px;
}

form{
    padding: 24px;    
    border-radius: 10px;
    width: 70%;
}

input{
    margin-top: 10px;
    padding: 12px 24px;
    background: #1B4F72;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
}

p{
    font-weight: bold;
}

