body{
    height: 100vh;
    margin: 0px;
    background-color: #F1EFF4;
    font-family: Helvetica;
}

nav{
    margin-right: auto;
}
.right{
    margin-left: 70%;
}


header{
    background: #1B4F72;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: stretch;
    padding: 24px;
    margin-bottom: 5%;
}

a{
    font-size: 20px;
    margin: 10px;
    color: white;
    text-decoration: none;
}

.container{
    display: flexbox;
    padding: 0px 24px;
    background: rgba(27, 79, 114, 0.31);
    height: 78%;
    width: 40%;
    box-sizing: border-box;
    border-radius: 2px;
    justify-content: center;
    padding-top: 2%;
    margin-bottom: 2%;
    padding-bottom: 3%;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h2{
    margin: 15px 0px;
    text-align: center;
}

hr{
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 20px;
    margin: 10px 0px;
    font-weight: bold;
}

input{
    border: none;
    min-height: 40px;
    background: #f2f7fc;
    border-radius: 2px;
    color: rgb(39, 35, 35);
    padding-left: 10px;
    font-weight: bold;
    font-size: 20px;
}

textarea{
    min-height: 150px;
    background: #f2f7fc;
    border: none;
    border-radius: 2px;
    margin-bottom: 40px;
    color: rgb(26, 24, 24);
    padding-left: 10px;
    font-size: 19px;
}

.big-M{
    margin-top: 50px;
    /* margin-bottom: 30px; */
}

.create{
    background: #1B4F72;
    color: white;
    padding: 10px 10px;
    border-radius: 2px;
    max-width: 150px;
    cursor: pointer;
}

header{
    background: #1B4F72;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: stretch;
    padding: 24px;
}