

body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f0f2f5;

}
nav{
    margin-right: auto;
}
.right{
    margin-left: 70%;
}


header{
    background: #1B4F72;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: stretch;
    padding: 24px;
}

a{
    font-size: 20px;
    margin: 10px;
    color: white;
    text-decoration: none;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 0px 24px;
    background: rgba(27, 79, 114, 0.31);
    height: 90%;
    box-sizing: border-box;
    width: 70%;
    border-radius: 2px;
}

h2{
    margin: 15px 0px;
    text-align: center;
}

hr{
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 20px;
    margin: 10px 0px;
}

input{
    border: none;
    min-height: 40px;
    background: #f2f7fc;
    border-radius: 2px;
    color: rgb(39, 35, 35);
    padding-left: 10px;
}

textarea{
    text-align: left;
    min-height: 150px;
    background: #f2f7fc;
    border: none;
    border-radius: 2px;
    margin-bottom: 40px;
    color: rgb(26, 24, 24);
    padding-left: 10px;
}

.big-M{
    margin-top: 50px;
    /* margin-bottom: 30px; */
}

input[type="submit"]{
    background: #1B4F72;
    color: #ABB2B9;
    padding: 10px 10px;
    border-radius: 2px;
    max-width: 150px;
    cursor: pointer;
}