body{
    height: 100vh;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    margin: 0px;
    background: #ABB2B9;
}

header{
    background: #EDBB99;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: stretch;
    
    padding: 24px;
}

nav{
    margin: auto;
}
