body{
    height: 100vh;
    margin: 0px;
    font-family: Helvetica;
    background-color: #F1EFF4;
}

header{
    background: #1B4F72;
    padding: 24px;

}

nav{
    margin: auto;
}

.home{
    margin-left: 3%;
    font-weight: bold;


}

a{
    font-size: 20px;
    margin: 10px;
    color: white;
    text-decoration: none;

}

.right{
    margin-left: 70%;
}

.container{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.admini{
    display: flex;
}

.card{
    width: 70%;
    min-height: 90px;
    background: rgba(27,79,114,0.31);
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

p{
    color: black;
}

.text{
    font-size: 20px;
    margin-left: 3%;
    font-weight: bold;
}

@media screen and (max-width: 800px){
    a, .container{
        font-size: 18px;
    }

    h3{
        font-size: 18px;

    }
}

@media screen and (max-width: 490px){

    a{
        font-size: 16px;

    }

    .card{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 295px){

    a{
        font-size: 15px;

    }
}